.divGrid{
    background-color:aliceblue;
}

.hoverClass{
    background-color: cyan;
}
.btn{
    margin-top: 20px;
    margin-left: 25px;
}

h1{
    margin-left: 25px;
}

#container{
    display: flex;
    height: 800px;
    width: 800px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background-color: aliceblue;
}