.divGrid{
    background-color: lightgray;
    width: 60px;
    height: 60px;
    justify-content: center;
    align-items: center;
}

.hoverClass{
    background-color: yellow;
}

#container{
    display: flex;
    height: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 960px;
    margin-inline: auto;
}